.balloon {
  width: 18vmin;
  height: 22vmin;
  background: #ebc1b3;
  color: #ebc1b3;
  text-align: center;
  border-radius: 80%;
  position: relative;
  box-shadow: inset -1.63vh -0.78125vw 0 rgba(0, 0, 0, 0.07);
  margin: 3.27vh 0.55vw;
  transition: transform 0.5s ease;
  z-index: 2;
  animation: balloons 4s ease-in-out infinite normal;
  animation-duration: 3s;
  transform-origin: bottom center;

  &-fly {
    display: inline-block;
    animation: balloonsFly 4s ease-in-out infinite normal;
  }

  &-container {
    padding: 3.28vh 1.5625vw;
    overflow: hidden;
    opacity: 0;
    text-align: center;
    position: absolute;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-out;

    &-fly {
      display: none;
      overflow: hidden;
      height: 100%;
    }
  }

  &:before {
    content: "▲";
    font-size: 3.28vh;
    color: inherit;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -1.97vh;
    z-index: -100;
  }

  &:after {
    display: block;
    top: 23vmin;
    position: absolute;
    left: 50%;
    height: 41vmin;
    width: 1px;
    content: "";
    background: rgba(0, 0, 0, 0.2);
  }
}

@keyframes balloons {
  0%, 100% {
    transform: translateY(0) rotate(-4deg);
  }
  50% {
    transform: translateY(-25px) rotate(4deg);
  }
}

@keyframes balloonsFly {
  0% {
    top: 100%;
    transform: rotate(-4deg);
  }
  100% {
    top: -100%;
    transform: rotate(4deg);
  }
}
