html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
}

svg {
  display: none;
}

audio {
  display: none;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fireworks {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #15151b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 2s ease-out;

  --main-color: #f97b9a;
  --dark-color: #e50a40;
}
