.absolute {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Nunito', sans-serif;
  user-select: none;
  color: var(--main-color);
  transition: opacity 0.5s ease-out;
  &-label {
    font-size: 7vw;
  }

  &-text {
    font-size: 7vw;
    margin-bottom: 50px;
  }
}

.text {
  font-family: 'Nunito', sans-serif;
  user-select: none;
  color: var(--main-color);
  font-size: 9vmin;
  overflow: hidden;
  border-right: 0.2vw solid var(--dark-color);
  white-space: nowrap;
  margin: 0 auto;
  z-index: 2;
  animation:
          typing 2.5s steps(40, end),
          blink-caret .75s step-end infinite;
  transition: opacity 0.5s ease-out;

  &-special {
    color: var(--main-color);
    text-shadow: 0 0 1.64vh #fdd4ce;
  }
}

@keyframes typing {
  from {
    width: 0
  } to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: var(--dark-color);
  }
}
